<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SymbolicRegression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A5F467817BBEE7500209467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A5F469917BBEE7500209467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A5F46B717BBEF0500209467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AADA983193235C2001B3EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AD4E34B17BECC7B00D3A326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
